*{
    margin: 0;
}

header{
    display: flex;
}
header span{
    padding: 5px 5px 5px 5px;
    min-width: 76px;
    max-width: 76px;
    background-color: #fff;
    
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    border-right: 2px solid #b48e41;
    border-bottom: 2px solid #b48e41;
    white-space: nowrap;
    cursor: default;
}
.container{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container .sector{
    min-height: 245px;
    min-width: 74px;
    max-width: 74px;
    margin: 5px;
    border: 2px solid #b48e41;
    cursor: default;
}

.container .sector section{
    position: relative;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    padding: 2px;
    margin: 2px;
}
.container .sector input{
    position: relative;
    display: block;
    border: none;
    outline: none;
    margin-bottom: 2px;
    padding: 0;
    width: 100%;

    background-color: #fff;
    border-bottom: 2px solid #b48e41;
    font-weight: 700;
    text-align: center;
    cursor: default;
}
.container .sector .v{
    background-color: rgb(106, 235, 127);
}
.container .sector .d{
    background-color: rgb(221, 53, 53);
}
.container .sector .c{
    background-color: rgb(53, 112, 221);
}

.container .sector input.lower{
    background-color: #ff6060;
}
.container .sector input.highter{
    background-color: #60ff75;
}


.container .sector section .delete-value{
    position: absolute;
    transform: scale(0.8);
    top: 3px;
    right: 2px;
    cursor: pointer;
    opacity: 0;
    transition: 200ms;
}
.container .sector section:hover .delete-value{
    opacity: 1;
}